<div class="container-fluid">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
        <p class="col-md-4 mb-0 text-muted">© 2024 Company, Inc</p>
        <a aria-disabled="true" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-primary text-decoration-none fw-bold">Notes</a>
        <ul class="nav col-md-4 justify-content-end">
      </ul>
    </footer>
</div>