<div class="container-fluid container-fluid-custom">
    <h1>About</h1>
</div>
<p class="container-fluid container-fluid-custom">
    Notes is a simple to use free note taking app made with Node.js, EJS & MongoDB.
</p>